In [23]:
a = [
    {
        "id": 1,
        "model_id": "model_test",
        "name": "my_custom_metric",
        "status": "active",
        "metric": "accuracy",
        "severity": "low",
        "email": "test@squaredev.io",
        "lower_threshold": 0.7
    },
    {"id": 2,
        "model_id": "model_test",
        "name": "my_custom_metric",
        "status": "active",
        "metric": "data_drift",
        "severity": "low",
        "email": "test@squaredev.io",
        "lower_threshold": 0.5
    }
]

In [24]:
import pandas as pd
mo = pd.DataFrame(a)

In [25]:
al = [
    {
        "id": 44,
        "model_monitor_id": 1,
        "timestamp": "2023-03-14",
        "description": "fell below the threshold"
    },
    {
        "id": 45,
        "model_monitor_id": 1,
        "timestamp": "2023-03-16",
        "description": "fell below the threshold"
    }
]

In [26]:
import pandas as pd
df = pd.DataFrame(al)
df["timestamp"] = pd.to_datetime(df["timestamp"])
df

   id  model_monitor_id  timestamp               description
0  44                 1 2023-03-14  fell below the threshold
1  45                 1 2023-03-16  fell below the threshold

In [27]:
def get_recent_alert(alerts_df, timestamp_column):
    '''
    Function that gets alerts dataframe and results on the 
    most recent alert row for each unique id
    '''
    # sort the dataframe by 'date' column in descending order
    alerts_df = alerts_df.sort_values(by=timestamp_column, ascending=False)
    # drop duplicates based on 'id' column, keeping only the first occurrence (most recent date)
    alerts_df = alerts_df.drop_duplicates(subset='model_monitor_id', keep='first')

    return alerts_df

In [28]:
al = get_recent_alert(df, "timestamp")

In [29]:
al

   id  model_monitor_id  timestamp               description
1  45                 1 2023-03-16  fell below the threshold

In [31]:
mo

,id,model_id,name,status,metric,severity,email,lower_threshold
0,1,model_test,my_custom_metric,active,accuracy,low,test@squaredev.io,0.7
1,2,model_test,my_custom_metric,active,data_drift,low,test@squaredev.io,0.5

In [33]:
merged_df = pd.merge(mo, al[["model_monitor_id", "timestamp", "description"]], left_on='id', right_on="model_monitor_id")
merged_df

,id,model_id,name,status,metric,severity,email,lower_threshold,model_monitor_id,timestamp,description
0,1,model_test,my_custom_metric,active,accuracy,low,test@squaredev.io,0.7,1,2023-03-16,fell below the threshold

In [40]:
merged_df["name"].values.tolist()

['my_custom_metric']